@media (min-width: 375px) and (max-width: 767px) {

    .hero-container {
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .hero-container img {
        position: absolute;
        width: 100%;
        height: 14.938rem;
        left: 0rem;
        top: -1.313rem;
        object-fit: cover;


    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 20px 32px;
        gap: 20px;

        position: absolute;
        width: 100%;
        height: 18.375rem;
        left: 0rem;
        bottom: 9rem;

        background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;






    }

    .hero-text p {
        width: 20.938rem;
        height: 11.25rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 100%;
        

        letter-spacing: -0.02em;
        text-transform: capitalize;

        color: #FFFFFF;


        

       



    }

    .hero-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0.75rem 1.25rem;
        gap: 0.5rem;
        border: 0;
        width: 13.375rem;
        height: 2.375rem;

        background: #F28D35;

        border-radius: 0.25rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;






    }

    .button-text {
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        width: 10.875rem;

        
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .hero-container {
        width: 100%;
        height: 46.688rem;
        position: absolute;

    }

    .hero-container img {
        position: absolute;
        width: 100%;
        height: 30.563rem;
        left: 0rem;
        top: -2.563rem;
        object-fit: cover;

    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 40px 32px;
        gap: 20px;

        position: absolute;
        width: 100%;
        height: 16.125rem;
        left: 0rem;
        top: 27rem ;

        background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;
    }

    .hero-text p {
        width: 43rem;
        height: 9rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 100%;


        letter-spacing: -0.02em;
        text-transform: capitalize;

        color: #FFFFFF;









    }

    .hero-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0.75rem 1.25rem;
        gap: 0.5rem;
        border: 0;
        width: 13.375rem;
        height: 2.375rem;

        background: #F28D35;

        border-radius: 0.25rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;





    }

    .button-text {
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        width: 10.875rem;
    }
}

@media screen and (min-width:1200px) {

    .hero-container {
        width: 100%;
        height: 100%;
        position: absolute;

    }

    .hero-container img {
        position: absolute;
        width: 100%;
        height: 763px;
        left: 0px;
        top: -2.5rem;
        object-fit: cover;

        /* width: 100%;
        height: 100%;
        object-fit: cover; */

    }

    .hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 40px 32px;
        gap: 1.25rem;

        position: absolute;
        width: 38.875rem;
        height: 19.125rem;
        left: 3.75rem;
        bottom: 2.5rem;


        background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;
    }

    .hero-text p {
        width: 34.75rem;
        height: 12rem;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 100%;


        letter-spacing: -0.02em;
        text-transform: capitalize;

        color: #FFFFFF;




        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .hero-btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0.75rem 1.25rem;
        gap: 0.5rem;
        border: 0;
        width: 13.375rem;
        height: 2.375rem;

        background: #F28D35;

        border-radius: 0.25rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;








    }

    .button-text {
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 100%;
        width: 10.875rem;

    }

}