

.firstRow {
    position: relative;
    top: 724px;
}
.secondRow {
    position: relative;
    top: 724px;
}
.Card_2{
    top:3.5rem;
}
.Card_3{
    top:3.5rem;
}

.Cardtitle-1 {
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 27px !important;
    line-height: 33px !important;
    

    letter-spacing: 0.4px;

    color: #6B3CC9 !important;





}

.Cardtext-1 {
    
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19px; */

    color: #000000;



}

.btn {
    
    
    
  
    background: #F28D35 !important;
    border: 0 !important;
    

    
}

.Cardtitle-2 {
    
    

    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 27px !important;
    line-height: 33px !important;
    

    letter-spacing: 0.4px;

    color: #6B3CC9 !important;


}
.Cardtext-2{
    
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 19px; */
    
    color: #000000;
}
